{#: customer/models.py }
{% trans "Zip code" %}

{#: customer/models.py }
{% trans "Province" %}

{#: customer/models.py:72 }
{% trans "Company name" %}

{#: customer/models.py:73 }
{% trans "Street" %}

{#: customer/models.py:72 }
{% trans  "Company name" %}

{# checkout/checkout_cart_inline.html #}
{% trans "Voucher code" %}

{# templates/manage/voucher/no_vouchers.html:14 #}
{% trans 'There are no vouchers yet.' %}

{# templates/manage/voucher/no_vouchers.html:20 #}
{% trans 'Add Voucher Group' %}

{# voucher/settings.py:18 #}
{% trans "The voucher doesn't exist." %}

# manage/views/voucher.py:225 #}
{% trans "Vouchers have been created." %}

{# manage/views/voucher.py:247 #}
{% trans "Vouchers have been deleted." %}

{# manage/views/voucher.py:284 #}
{% trans "Voucher data has been save." %}

{# manage/views/voucher.py:300 #}
{% trans "Voucher group and assigned vouchers have been deleted." %}

{# manage/views/voucher.py:318 #}
{% trans "Voucher options has been save." %}

{# order/models.py:91 #}
{% trans "Voucher number" %}

{# order/models.py:92 #}
{% trans "Voucher value" %}

{# order/models.py:93 #}
{% trans "Voucher tax" %}

{# templates/manage/voucher/vouchers.html:3 #}
{% trans "Vouchers" %}

{# templates/manage/voucher/voucher_group.html:16 #}
{% trans "Add voucher group" %}

{# templates/manage/voucher/data.html:12 #}
{% trans "Save voucher group" %}

{# templates/manage/voucher/voucher_group.html:6 #}
{% trans "Voucher groups" %}

{# templates/manage/voucher/voucher_group.html:19 #}
{% trans "Do you really want to delete this voucher group?" %}

{# templates/manage/voucher/voucher_group.html:20 #}
{% trans "Delete voucher group" %}

{# templates/manage/voucher/vouchers.html:18 #}
{% trans "Add vouchers" %}

{# templates/manage/voucher/vouchers_inline.html:167 #}
{% trans "There are no vouchers for this group yet." %}

{# voucher/settings.py:12 #}
{% trans "The voucher is valid." %}

{# voucher/settings.py:13 #}
{% trans "The voucher is not active." %}

{# voucher/settings.py:14 #}
{% trans "The voucher has been already used." %}

{# voucher/settings.py:15 #}
{% trans "The voucher is not active yet." %}

{# voucher/settings.py:16 #}
{% trans "The voucher is not active any more." %}

{# voucher/settings.py:17 #}
{% trans "The voucher is not valid for this cart price." %}

{# voucher/settings.py:18 #}
{% trans "The voucher doesn't exist." %}

{# patches.py VoucherForm #}
{% trans "Voucher quantity" %}
{% trans "Voucher value" %}
{% trans "Voucher effective from" %}
{% trans "Voucher limit" %}
{% trans "Voucher start date" %}

{# /lfs/templates/manage/voucher/vouchers_inline.html #}
{% trans "Delete vouchers" %}
{% trans "Voucher" %}

{% trans 'your order has been paid.' %}

